
@{
    ViewBag.Title = "ColsRightBody";
}

<div class="col-xs-12 padding_0">
    <section class="col-xs-12 padding_0">
        <div class="col-xs-12 sec-thongbao m_bottom_5">
            <div class="ndThongbao">
                sdsd
            </div>
        </div>
    </section>
    <!--End section thong bao-->
    <section class="col-xs-12 padding_0 sec-CLB m_bottom_5">
        <div class="col-xs-12 col-right-title">
            <h4>Giới thiệu CLB</h4>
        </div>
        <div class="col-xs-12">
            <a href=""><i class="fa fa-angle-double-right"></i> @System.Configuration.ConfigurationManager.AppSettings["SiteName"]</a>
            <a href=""><i class="fa fa-angle-double-right"></i> Nội quy CLB</a>
            <a href=""><i class="fa fa-angle-double-right"></i> DS Thành viên CLB</a>
        </div>
    </section>
    <!--End section CLB-->
    <section class="col-xs-12 padding_0 m_bottom_10">
        <div class="col-xs-12 col-right-title">
            <h4>Video Giới thiệu CLB</h4>
        </div>
        <div class="col-xs-12 padding_0">
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/LSNNSz6_ShA" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>
    <!--End section video-->
    <section class="col-xs-12 padding_0 m_bottom_10">
        <div class="col-xs-12 col-right-title">
            <h4>Hình ảnh hoạt động</h4>
        </div>
        <div class="col-xs-12 padding_0 m_bottom_10">
            <img class="img-responsive" src="~/Content/img/ex/33c77e57-0dd7-46d0-95eb-1a16e4125d2e.jpg" />
        </div>
    </section>
    <!--End section hinh anh CLB-->
    <section class="col-xs-12 padding_0 m_bottom_10">
        <div class="col-xs-12 col-right-title">
            <h4>Kỷ niệm vui</h4>
        </div>
        <div class="col-xs-12 padding_0">
            <img class="img-responsive" src="~/Content/img/ex/33c77e57-0dd7-46d0-95eb-1a16e4125d2e.jpg" />
        </div>
    </section>
    <!--End section ky niem vui CLB-->
    <section class="col-xs-12 padding_0 m_bottom_10">
        <div class="col-xs-12 padding_0">
            <a>
                <img class="img-responsive" src="~/Content/img/3a513a99-87db-47c0-805b-0649ddae5c10.jpg" />
            </a>
        </div>
    </section>
    <!--End section ky niem vui CLB-->
    <section class="col-xs-12 padding_0 sec-CLB m_bottom_5">
        <div class="col-xs-12 col-right-title">
            <h4>Lời hay ý đẹp</h4>
        </div>
        <div class="col-xs-12">
            sdsdsdsdsd
        </div>
    </section>
    <!--End section loi hay y dep-->
    <section class="col-xs-12 padding_0 sec-CLB m_bottom_5">
        <div class="col-xs-12 col-right-title">
            <h4>Lượt truy cập</h4>
        </div>
        <div class="col-xs-12">
            sdsdsdsdsd
        </div>
    </section>
    <!--End section CLB-->

</div>


