body {
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    background-image: url(../Content/img/bg02.png);
    background-repeat: repeat;
    background-attachment: fixed;
}

.container{
    background:#eff2f7;
}

#modalbox {
    display: none;
}

#camera_banner {
    margin-bottom: 5px !important;
}

    #camera_banner .camera_pag {
        margin-top: -60px;
    }

    #slide-tc.camera_pag {
        margin-top: -60px;
    }


marquee {
    margin-top: 6px;
}

/*
MENU CSS
*/
.navbar {
    margin-bottom:0px !important;
    position:relative !important;
    border-bottom: 0px !important;
}

a.submenu {
    display: none;
    top: 5px;
    width: 44px;
    /*text-indent: -9999px;*/
    font-size:20px;
    outline: none;
    -webkit-transition: all ease 0s;
    -moz-transition: all ease 0s;
    -o-transition: all ease 0s;
    transition: all ease 0s;
    margin: auto auto;
}

    a.submenu:hover {
    }

.menuBar {
}

    .menuBar ul {
        list-style: none;
        background:#4d842d;
        padding-left:0px !important;
        padding-right:0px !important;
    }

    .menuBar li {
        margin: 0;
        position: relative;
        float: left;
        display: inline-block;
        background:#4d842d;
    }

        .menuBar li:before {
            content: '|';
            color:#fff;
            margin-right:-4px !important;
        }

        .menuBar li:first-child:before {
            content: '';
            margin-right:0px !important;
        }

        .menuBar li.current {
	        border-bottom: #F4D03F solid 0px;
        }

        .menuBar li a {
            color:#fff;
            /*color: #A9A9A9;*/
            /*border-bottom: 1px solid transparent;*/
            font-size: 11px;
            padding: 15px 30px;
            display: inline-block;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            text-transform: uppercase;
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
            line-height: 20px;
            outline: none;
        }

            .menuBar li a:hover {
                color:#4d842d;
                /*color: #F4D03F;*/
                border-color: #F4D03F;
                text-decoration: none;
                background:#fff;
                cursor:pointer;
            }

        .menuBar li.active a {
            color:#4d842d;
            /*color: #F4D03F;*/
            border-color: #F4D03F;
            background:#fff;
        }

        .menuBar li a.prevented{
            border-bottom:0px solid #ccc;
            border:0;
            background:#fff;
            color:#4d842d;
        }

        .menuBar li ul {
            position: absolute;
            left: 4px;
            border-radius: 0px;
            padding: 0;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -o-border-radius: 0px;
            -ms-border-radius: 0px;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            -o-box-shadow: none;
            -ms-box-shadow: none;
            -webkit-transition: all 0.25s ease;
            -moz-transition: all 0.25s ease;
            -ms-transition: all 0.25s ease;
            -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
            top: 85%;
            opacity: 0;
            visibility: hidden;
            height: 0px;
        }

        .menuBar li:hover ul {
            top: 100%;
            opacity: 1;
            visibility: visible;
            height: auto !important;
        }

        .menuBar li li {
            margin: 0px;
            float: none;
            border-bottom: 1px solid #ccc;
            display: block;
            margin-right:0px !important;
        }
        .menuBar li li:first-child
        {
            border-top: 1px solid #fff;
            margin-right:0px !important;
        }

            .menuBar li li:before {
                content: '';
                margin-right:0px !important;
            }

            .menuBar li li a {
                color: #fff;
                border: 0px;
                font-size: 11px;
                line-height: 11px;
                padding: 15px 20px;
                text-transform: none;
                white-space: nowrap;
                display: block;
                min-width:175px;
            }

                .menuBar li li a:hover {
                    color: #4d842d;
                    background: #fff;
                }

@media(min-width:768px) {
    .menuBar, .menuBar ul {
        display: block !important;
    }

        .menuBar li {
            margin-left: 0px;
        }

            .menuBar li a {
                font-size: 10px;
                padding: 10px 8px;
            }


    .col-right {
        display: none;
    }
}

@media(min-width:992px) {
    .menuBar li {
        margin-left: 0px;
    }

        .menuBar li a {
            font-size: 11px;
            padding: 10px 15px;
        }

    .col-right {
        display: block;
    }
}

@media(min-width:1200px) {
    .menuBar li {
        margin-left: 0px;
    }

        .menuBar li a,
        .menuBar li li a {
            font-size: 13px;
        }

    .col-right {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .col-right {
        display: none;
    }

    a.submenu {
        display: block;
    }

    .menuBar {
        padding: 10px 0px 10px 0px;
        float: none;
        /*max-height: 350px;*/
        overflow: auto;
        /*width: 100%;*/
        display: none;
    }

        .menuBar ul {
            padding: 0px;
            margin: 0px;
        }

        .menuBar li {
            margin: 0px;
            float: none;
            text-align: center;
            display: block;
            margin-right:0px !important;
        }

            .menuBar li:before {
                content: '';
                margin-right:0px !important;
            }

            .menuBar li.current {
	            border-bottom: #F4D03F solid 2px;
            }
            .menuBar li a {
                padding: 7px 0px;
                outline: 0px;
                display: block;
            }

            .menuBar li a.prevented{
                border-bottom:1px solid #ccc;
                background:#ccc;
            }
            .menuBar li ul {
                position: static;
                left: 0px;
                top: 0px;
                opacity: 1;
                visibility: visible;
                display: none;
                height: auto;
                background: none;
            }

            .menuBar li li {
                border: 0px;
                margin-right:0px !important;
            }

            .menuBar li.dropdown:hover. .menuBar li.dropdown.active {
                border-bottom: #F4D03F solid 0px;
            }

            .menuBar li.current {
                border-bottom: #F4D03F solid 2px;
            }
}

@media(min-width:768px) and (max-width:991px) {
    .menuBar li ul {
        top: 100%;
        opacity: 1;
        visibility: visible;
        height: auto;
        display: none !important;
    }

    .menuBar li:hover ul {
        top: 100%;
        opacity: 1;
        visibility: visible;
        height: auto !important;
        display: block !important;
    }

    /*.col-right {
        display: block;
    }*/
}

/*******************************************************************
        LOADING ANIMATION
*******************************************************************/
#loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222;
        z-index: 1000;
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }
    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded styles */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    }
    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    }
    .loaded #loader {
        opacity: 0;

        -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
    
        -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    }


/*********************************************************
    CUSTOM CSS
*********************************************************/
.f_left {
    float: left;
}

.f_right {
    float: right;
}

.f_none {
    float: none;
}

.t_align_l {
    text-align: left;
}

.t_align_r {
    text-align: right;
}

.t_align_c {
    text-align: center;
}

.v_align_m {
    vertical-align: middle;
}

.v_align_b {
    vertical-align: bottom;
}

.d_none {
    display: none;
}

.d_block {
    display: block;
}

.db_centered {
    margin: 0 auto;
}

.d_inline_b {
    display: inline-block;
}

.d_inline_m {
    display: inline-block;
    vertical-align: middle;
}

.d_table {
    display: table;
}

.d_table_cell {
    display: table-cell;
}

.padding_0 {
    padding: 0 !important;
}

.padding_5 {
    padding: 5px !important;
}

.p_top_0 {
    padding-top: 0 !important;
}

.p_top_4 {
    padding-top: 4px;
}

.p_top_5 {
    padding-top: 5px;
}

.p_top_20 {
    padding-top: 20px;
}

.p_bottom_0 {
    padding-bottom: 0 !important;
}

.p_bottom_20 {
    padding-bottom: 20px;
}

.p_bottom_10 {
    padding-bottom: 10px;
}

.p_left_0 {
    padding-left: 0px !important;
}

.p_right_0 {
    padding-right: 0px !important;
}
.p_right_5 {
    padding-right: 5px !important;
}
.p_right_10 {
    padding-right: 10px !important;
}
.p_right_15 {
    padding-right: 15px !important;
}

.m_right_2 {
    margin-right: 2px;
}

.m_right_3 {
    margin-right: 3px;
}

.m_right_5 {
    margin-right: 5px;
}

.m_right_6 {
    margin-right: 6px;
}

.m_right_7 {
    margin-right: 7px;
}

.m_right_8 {
    margin-right: 8px;
}

.m_right_9 {
    margin-right: 9px;
}

.m_right_10 {
    margin-right: 10px;
}

.m_right_13 {
    margin-right: 13px;
}

.m_right_14 {
    margin-right: 14px;
}

.m_right_15 {
    margin-right: 15px;
}

.m_right_17 {
    margin-right: 17px;
}

.m_right_20 {
    margin-right: 20px;
}

.m_right_30 {
    margin-right: 30px;
}

.m_right_25 {
    margin-right: 25px;
}

.m_right_40 {
    margin-right: 40px;
}

.m_left_5 {
    margin-left: 5px;
}

.m_left_7 {
    margin-left: 7px;
}

.m_left_10 {
    margin-left: 10px;
}

.m_left_15 {
    margin-left: 15px;
}

.m_left_20 {
    margin-left: 20px;
}

.m_left_25 {
    margin-left: 25px;
}

.m_left_55 {
    margin-left: 55px;
}

.m_top_0 {
    margin-top: 0px !important;
}

.m_top_2 {
    margin-top: 2px;
}

.m_top_4 {
    margin-top: 4px;
}

.m_top_5 {
    margin-top: 5px;
}

.m_top_6 {
    margin-top: 6px;
}

.m_top_7 {
    margin-top: 7px;
}

.m_top_8 {
    margin-top: 8px;
}

.m_top_10 {
    margin-top: 10px;
}

.m_top_11 {
    margin-top: 11px;
}

.m_top_12 {
    margin-top: 12px;
}

.m_top_15 {
    margin-top: 15px;
}

.m_top_20 {
    margin-top: 20px;
}

.m_top_30 {
    margin-top: 30px;
}

.m_bottom_0 {
    margin-bottom: 0;
}

.m_bottom_1 {
    margin-bottom: 1px;
}

.m_bottom_2 {
    margin-bottom: 2px;
}

.m_bottom_3 {
    margin-bottom: 3px;
}

.m_bottom_4 {
    margin-bottom: 4px;
}

.m_bottom_5 {
    margin-bottom: 5px;
}

.m_bottom_6 {
    margin-bottom: 6px;
}

.m_bottom_7 {
    margin-bottom: 7px;
}

.m_bottom_8 {
    margin-bottom: 8px;
}

.m_bottom_9 {
    margin-bottom: 9px;
}

.m_bottom_10 {
    margin-bottom: 10px;
}

.m_bottom_11 {
    margin-bottom: 11px;
}

.m_bottom_12 {
    margin-bottom: 12px;
}

.m_bottom_13 {
    margin-bottom: 13px;
}

.m_bottom_14 {
    margin-bottom: 14px;
}

.m_bottom_15 {
    margin-bottom: 15px;
}

.m_bottom_16 {
    margin-bottom: 16px;
}

.m_bottom_17 {
    margin-bottom: 17px;
}

.m_bottom_18 {
    margin-bottom: 18px;
}

.m_bottom_20 {
    margin-bottom: 20px;
}

.m_bottom_23 {
    margin-bottom: 23px;
}

.m_bottom_25 {
    margin-bottom: 25px;
}

.m_bottom_27 {
    margin-bottom: 27px;
}

.m_bottom_30 {
    margin-bottom: 30px;
}

.m_bottom_33 {
    margin-bottom: 33px;
}

.m_bottom_35 {
    margin-bottom: 35px;
}

.m_bottom_38 {
    margin-bottom: 38px;
}

.m_bottom_40 {
    margin-bottom: 40px;
}

.m_bottom_42 {
    margin-bottom: 42px;
}

.m_bottom_45 {
    margin-bottom: 45px;
}

.m_bottom_47 {
    margin-bottom: 47px;
}

.m_bottom_48 {
    margin-bottom: 48px;
}

.m_bottom_50 {
    margin-bottom: 50px;
}

.m_bottom_55 {
    margin-bottom: 55px;
}

.box-content {
    background: #f7f7f7 none repeat scroll 0 0;
}
.form-control {
    height: 32px;
}

a:hover{
    cursor:pointer;
}


.slide-aboutus img {
    max-width: 100%;
}

/*******************************************************************************
    Home => cols left
*******************************************************************************/

.img-adv
{
    height:100px;
    width:100%;
}

.title-content-page{
    border-bottom: solid #4d842d 2px;
}

    .title-content-page h4 {
        float: left;
        color: #FFF;
        background: #4d842d;
        font-weight: normal;
        font-size: 16px;
        text-transform: uppercase;
        padding: 5px 10px 2px 10px;
    }

.section-category {
    
}

    .section-category .thumbnail {
        padding:2px;
        border-radius:0px;
        border-color:green;
    }

    .section-category .sec-title {
        background: url(../Content/img/Mod_bg.png) left no-repeat;
        border-bottom: 1px dotted #4d842d;
    }
        .section-category .sec-title .title {
            color: #207F8B;
            float: left;
            font-weight: bold;
            font-size: 17px;
            text-transform: uppercase;
            padding: 6px 0;
            background-image: url(../Content/img/img_title.png);
            background-repeat: no-repeat;
            background-position: center left;
            padding-left: 25px;
            margin-left: 1px;
        }
        .section-category .sec-title a {
            line-height: 18px;
        }
        .section-category .sec-title a:hover {
            text-decoration:none;
        }

        .section-category .sec-content p.short-content{
            text-overflow:ellipsis;
            white-space:normal;
            overflow:hidden;
            text-align:justify;
            max-height:100px;
        }



/*.col-right {
    display:block;
}*/

    .col-right .sec-thongbao {
        width: 100%;
        height: 290px;
        float: left;
        background-image: url(../Content/img/bg_thongbao.png);
        background-size: cover;
        padding:0px;
    }

        .col-right .sec-thongbao .ndThongbao {
            margin: 40px 10px 0;
        }


.sec-CLB {
    padding-bottom: 10px;
    border: 1px solid #4d842d;
}

.col-right-title {
    background-color: #4d842d;
}

    .col-right-title h4 {
        color: #fff;
        float: left;
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .sec-CLB a {
        list-style: none;
        border-bottom: dotted #CCCCCC 1px;
        display: block;
        color: #333;
        position: relative;
        padding: 5px 5px;
    }

    .sec-CLB a:last-child{
        border-bottom:0px;
    }

    .sec-CLB a:hover {
        color: #333;
        background: #eee;
        text-decoration:none;
    }


.clr {
    clear: both;
}




footer
{
    min-height:200px;
    border-top: dotted #4d842d 1px;
    padding-top: 2px;
    margin-top: 5px;
    padding-bottom: 0px;
    background-color: #cecdcb;
}

    footer .company {
        float: left;
        padding-left: 5px;
        width: 95%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

.color_green {
    color: #008A4B;
    font-weight: bold;
}











