/****** Object:  StoredProcedure [dbo].[WEB_VD_LOGIN]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_LOGIN]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_UPDATE_USERTYPE]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_INSERT_UPDATE_USERTYPE]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_UPDATE_SUBMENU]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_INSERT_UPDATE_SUBMENU]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_UPDATE_MAINMENU]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_INSERT_UPDATE_MAINMENU]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_UPDATE_COURSE_TYPE]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_INSERT_UPDATE_COURSE_TYPE]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_UPDATE_COURSE]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_INSERT_UPDATE_COURSE]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_UPDATE_CATEGORY]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_INSERT_UPDATE_CATEGORY]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_UPDATE_AREAS]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_INSERT_UPDATE_AREAS]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_UPDATE_ABOUT]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_INSERT_UPDATE_ABOUT]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_POST]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_INSERT_POST]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_HOCVIEN]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_INSERT_HOCVIEN]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_SUBMENU]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GETLIST_SUBMENU]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_POSTS_COMMENT]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GETLIST_POSTS_COMMENT]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_POST_BY_MENU]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GETLIST_POST_BY_MENU]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_POST_BY_CATEGORY_BY_DATE]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GETLIST_POST_BY_CATEGORY_BY_DATE]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_POST_BY_CATEGORY]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GETLIST_POST_BY_CATEGORY]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_POST]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GETLIST_POST]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_MAINMENU]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GETLIST_MAINMENU]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_HOCVIEN]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GETLIST_HOCVIEN]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_COURSE_TYPE]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GETLIST_COURSE_TYPE]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_COURSE]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GETLIST_COURSE]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_CATEGORY]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GETLIST_CATEGORY]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_AREAS]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GETLIST_AREAS]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_POST_INDEX_BY_CATEGORY]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GET_POST_INDEX_BY_CATEGORY]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_LIST_ABOUT]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GET_LIST_ABOUT]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_SUBMENU]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GET_DETAILS_SUBMENU]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_POST]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GET_DETAILS_POST]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_MAINMENU]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GET_DETAILS_MAINMENU]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_HOCVIEN]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GET_DETAILS_HOCVIEN]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_COURSE_TYPE]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GET_DETAILS_COURSE_TYPE]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_COURSE]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GET_DETAILS_COURSE]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_CATEGORY]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GET_DETAILS_CATEGORY]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_AREAS]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GET_DETAILS_AREAS]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_ABOUT]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_GET_DETAILS_ABOUT]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_DELETE_SUBMENU]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_DELETE_SUBMENU]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_DELETE_POST]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_DELETE_POST]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_DELETE_MAINMENU]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_DELETE_MAINMENU]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_DELETE_HOCVIEN]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_DELETE_HOCVIEN]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_DELETE_COURSE_TYPE]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_DELETE_COURSE_TYPE]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_DELETE_COURSE]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_DELETE_COURSE]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_DELETE_CATEGORY]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_DELETE_CATEGORY]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_DELETE_AREAS]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_DELETE_AREAS]
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_COUNT_PERSON_AREAS]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[WEB_VD_COUNT_PERSON_AREAS]
GO
/****** Object:  StoredProcedure [dbo].[VD_CHECK_POSTS_IN_CATEGORY]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP PROCEDURE [dbo].[VD_CHECK_POSTS_IN_CATEGORY]
GO
/****** Object:  Table [dbo].[VD_USERSTYPE]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP TABLE [dbo].[VD_USERSTYPE]
GO
/****** Object:  Table [dbo].[VD_USERS]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP TABLE [dbo].[VD_USERS]
GO
/****** Object:  Table [dbo].[VD_SubMenu]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP TABLE [dbo].[VD_SubMenu]
GO
/****** Object:  Table [dbo].[VD_POST_COMMENT]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP TABLE [dbo].[VD_POST_COMMENT]
GO
/****** Object:  Table [dbo].[VD_POST]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP TABLE [dbo].[VD_POST]
GO
/****** Object:  Table [dbo].[VD_MainMenu]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP TABLE [dbo].[VD_MainMenu]
GO
/****** Object:  Table [dbo].[VD_HOCVIEN]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP TABLE [dbo].[VD_HOCVIEN]
GO
/****** Object:  Table [dbo].[VD_COURSE_TYPE]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP TABLE [dbo].[VD_COURSE_TYPE]
GO
/****** Object:  Table [dbo].[VD_COURSE]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP TABLE [dbo].[VD_COURSE]
GO
/****** Object:  Table [dbo].[VD_Category]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP TABLE [dbo].[VD_Category]
GO
/****** Object:  Table [dbo].[VD_AREAS]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP TABLE [dbo].[VD_AREAS]
GO
/****** Object:  Table [dbo].[About]    Script Date: 6/21/2017 8:22:36 PM ******/
DROP TABLE [dbo].[About]
GO
/****** Object:  Table [dbo].[About]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[About](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[URL] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VD_AREAS]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_AREAS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Descriptions] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[zIndex] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VD_Category]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_Category](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryID] [nvarchar](50) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[zIndex] [int] NULL,
	[IsHomeIndex] [bit] NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VD_COURSE]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_COURSE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Descriptions] [nvarchar](max) NULL,
	[CourseType] [int] NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[zIndex] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VD_COURSE_TYPE]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_COURSE_TYPE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Descriptions] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[zIndex] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VD_HOCVIEN]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_HOCVIEN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[CMND] [nvarchar](50) NOT NULL,
	[PhapDanh] [nvarchar](500) NOT NULL,
	[Birthday] [date] NULL,
	[Phone1] [nvarchar](50) NULL,
	[Phone2] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[zIndex] [int] NOT NULL,
	[AreasID] [bigint] NOT NULL,
	[CourseID] [bigint] NOT NULL,
	[UserTypeID] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsApproval] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VD_MainMenu]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_MainMenu](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MainMenuID] [nvarchar](50) NOT NULL,
	[MainMenuName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[zIndex] [int] NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VD_POST]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_POST](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryID] [nvarchar](50) NOT NULL,
	[MainMenuID] [nvarchar](50) NOT NULL,
	[SubMenuID] [nvarchar](50) NULL,
	[TitlePost] [nvarchar](max) NOT NULL,
	[ContentPost] [ntext] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ChangeBy] [nvarchar](max) NULL,
	[ChangeDate] [datetime] NULL,
	[IsPublish] [bit] NOT NULL,
	[IsSlide] [bit] NULL,
	[IsHome] [bit] NULL,
	[IsActive] [bit] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[ImagesDisplay] [nvarchar](500) NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](max) NULL,
	[AdminComment] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VD_POST_COMMENT]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_POST_COMMENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](500) NOT NULL,
	[CommentText] [nvarchar](max) NULL,
	[IsApproved] [bit] NOT NULL,
	[PostID] [bigint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VD_SubMenu]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_SubMenu](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MainMenuID] [nvarchar](50) NOT NULL,
	[SubMenuID] [nvarchar](50) NOT NULL,
	[SubMenuName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[zIndex] [int] NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VD_USERS]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_USERS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](500) NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[UserTypeID] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VD_USERSTYPE]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_USERSTYPE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserTypeID] [nvarchar](50) NOT NULL,
	[UserTypeName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[zIndex] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[VD_AREAS] ON 

INSERT [dbo].[VD_AREAS] ([ID], [Name], [Descriptions], [Quantity], [IsActive], [zIndex]) VALUES (1, N'Khu Vực 1', N'khu vục 1', 205, 1, 1)
INSERT [dbo].[VD_AREAS] ([ID], [Name], [Descriptions], [Quantity], [IsActive], [zIndex]) VALUES (2, N'Khu Vuc 2', N'khu vuc 2', 250, 1, 2)
INSERT [dbo].[VD_AREAS] ([ID], [Name], [Descriptions], [Quantity], [IsActive], [zIndex]) VALUES (3, N'khu vực 3', N'mo ta khu vưc 3', 500, 0, 3)
SET IDENTITY_INSERT [dbo].[VD_AREAS] OFF
SET IDENTITY_INSERT [dbo].[VD_Category] ON 

INSERT [dbo].[VD_Category] ([ID], [CategoryID], [CategoryName], [IsActive], [zIndex], [IsHomeIndex], [MetaKeywords], [MetaDescription], [MetaTitle]) VALUES (4, N'Cate_08022016050246', N'Hoạt Động Phật Sự', 1, 1, 1, NULL, NULL, NULL)
INSERT [dbo].[VD_Category] ([ID], [CategoryID], [CategoryName], [IsActive], [zIndex], [IsHomeIndex], [MetaKeywords], [MetaDescription], [MetaTitle]) VALUES (5, N'Cate_08022016050310', N'Phật Học', 1, 2, 1, NULL, NULL, NULL)
INSERT [dbo].[VD_Category] ([ID], [CategoryID], [CategoryName], [IsActive], [zIndex], [IsHomeIndex], [MetaKeywords], [MetaDescription], [MetaTitle]) VALUES (6, N'Cate_08022016050324', N'Thư Viện', 1, 3, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[VD_Category] OFF
SET IDENTITY_INSERT [dbo].[VD_COURSE] ON 

INSERT [dbo].[VD_COURSE] ([ID], [Name], [Descriptions], [CourseType], [FromDate], [ToDate], [IsActive], [zIndex]) VALUES (2, N'Khóa 1', N'khoa 1', 1, CAST(N'2016-06-01 00:00:00.000' AS DateTime), CAST(N'2016-06-20 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[VD_COURSE] ([ID], [Name], [Descriptions], [CourseType], [FromDate], [ToDate], [IsActive], [zIndex]) VALUES (3, N'Khoa 2', N'khoa 2', 2, CAST(N'2016-06-10 00:00:00.000' AS DateTime), CAST(N'2016-06-25 00:00:00.000' AS DateTime), 1, 2)
INSERT [dbo].[VD_COURSE] ([ID], [Name], [Descriptions], [CourseType], [FromDate], [ToDate], [IsActive], [zIndex]) VALUES (6, N'Khóa đặc biệt', N'không có gì', 2, CAST(N'2016-08-04 00:00:00.000' AS DateTime), CAST(N'2016-08-18 00:00:00.000' AS DateTime), 1, 3)
SET IDENTITY_INSERT [dbo].[VD_COURSE] OFF
SET IDENTITY_INSERT [dbo].[VD_COURSE_TYPE] ON 

INSERT [dbo].[VD_COURSE_TYPE] ([ID], [Name], [Descriptions], [IsActive], [zIndex]) VALUES (1, N'Phật Thất', N'Mô tả Phật Thất', 1, 1)
INSERT [dbo].[VD_COURSE_TYPE] ([ID], [Name], [Descriptions], [IsActive], [zIndex]) VALUES (2, N'Quy Y Tam Bảo', N'Quy y tam bảo', 1, 2)
SET IDENTITY_INSERT [dbo].[VD_COURSE_TYPE] OFF
SET IDENTITY_INSERT [dbo].[VD_HOCVIEN] ON 

INSERT [dbo].[VD_HOCVIEN] ([ID], [FullName], [CMND], [PhapDanh], [Birthday], [Phone1], [Phone2], [Address], [zIndex], [AreasID], [CourseID], [UserTypeID], [CreatedDate], [IsApproval]) VALUES (1, N'Vo Xuan An', N'123456', N'def', CAST(N'1996-03-08' AS Date), N'+841689964616', N'', N'Ho Chi Minh City', 1, 1, 1, N'9', CAST(N'2016-08-03 16:33:53.263' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[VD_HOCVIEN] OFF
SET IDENTITY_INSERT [dbo].[VD_MainMenu] ON 

INSERT [dbo].[VD_MainMenu] ([ID], [MainMenuID], [MainMenuName], [IsActive], [zIndex], [MetaKeywords], [MetaDescription], [MetaTitle]) VALUES (4, N'08022016033419', N'Trang Chủ', 1, 1, NULL, NULL, NULL)
INSERT [dbo].[VD_MainMenu] ([ID], [MainMenuID], [MainMenuName], [IsActive], [zIndex], [MetaKeywords], [MetaDescription], [MetaTitle]) VALUES (5, N'08022016040312', N'GIỚI THIỆU', 1, 2, NULL, NULL, NULL)
INSERT [dbo].[VD_MainMenu] ([ID], [MainMenuID], [MainMenuName], [IsActive], [zIndex], [MetaKeywords], [MetaDescription], [MetaTitle]) VALUES (6, N'08022016040328', N'TIN TỨC', 1, 3, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[VD_MainMenu] OFF
SET IDENTITY_INSERT [dbo].[VD_POST] ON 

SET IDENTITY_INSERT [dbo].[VD_POST] OFF
SET IDENTITY_INSERT [dbo].[VD_SubMenu] ON 

INSERT [dbo].[VD_SubMenu] ([ID], [MainMenuID], [SubMenuID], [SubMenuName], [IsActive], [zIndex], [MetaKeywords], [MetaDescription], [MetaTitle]) VALUES (5, N'08022016040312', N'08022016041955', N'Lược sử chùa Vạn Đức', 1, 1, NULL, NULL, NULL)
INSERT [dbo].[VD_SubMenu] ([ID], [MainMenuID], [SubMenuID], [SubMenuName], [IsActive], [zIndex], [MetaKeywords], [MetaDescription], [MetaTitle]) VALUES (6, N'08022016040328', N'08022016042409', N'Tin Tức 1', 1, 1, NULL, NULL, NULL)
INSERT [dbo].[VD_SubMenu] ([ID], [MainMenuID], [SubMenuID], [SubMenuName], [IsActive], [zIndex], [MetaKeywords], [MetaDescription], [MetaTitle]) VALUES (7, N'08022016040312', N'Sub_08152016035417', N'Lược sử chùa Vạn Linh', 1, 2, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[VD_SubMenu] OFF
SET IDENTITY_INSERT [dbo].[VD_USERS] ON 

INSERT [dbo].[VD_USERS] ([ID], [UserName], [Password], [UserTypeID], [CreatedDate], [IsActive]) VALUES (1, N'Admin', N'123456', N'0', CAST(N'2016-08-04 00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[VD_USERS] OFF
SET IDENTITY_INSERT [dbo].[VD_USERSTYPE] ON 

INSERT [dbo].[VD_USERSTYPE] ([ID], [UserTypeID], [UserTypeName], [IsActive], [zIndex]) VALUES (1, N'0', N'Admin', 1, 1)
SET IDENTITY_INSERT [dbo].[VD_USERSTYPE] OFF
/****** Object:  StoredProcedure [dbo].[VD_CHECK_POSTS_IN_CATEGORY]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[VD_CHECK_POSTS_IN_CATEGORY] 
	@ID NVARCHAR(500),
	@QtyPost BIGINT OUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SET @QtyPost = (SELECT COUNT(*) FROM VD_POST WHERE CategoryID = @ID)
END

GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_COUNT_PERSON_AREAS]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_COUNT_PERSON_AREAS] 
	@AreasID bigint,
	@outputPerson int out
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SET @outputPerson = (SELECT COUNT(*) FROM VD_HOCVIEN WHERE AreasID = @AreasID)
END

GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_DELETE_AREAS]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_DELETE_AREAS]
	@ID BIGINT,
	@outputResult bigint out,
	@outputMsg nvarchar(200) out
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		IF EXISTS(SELECT TOP 1 1 FROM VD_AREAS WHERE ID = @ID)
		BEGIN
			DELETE FROM VD_AREAS
			WHERE ID = @ID
			
			SET @outputResult = 2
			SET @outputMsg = 'XÓA THÀNH CÔNG'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			
			SET @outputResult = -1
			SET @outputMsg = 'KHÔNG TỒN TẠI AREAS'
			ROLLBACK TRAN
		END
	END TRY
	BEGIN CATCH
		SET @outputResult = -100
		SET @outputMsg = ERROR_MESSAGE()
		ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_DELETE_CATEGORY]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_DELETE_CATEGORY]
	@CategoryID nvarchar(50),
	@outputResult bigint out,
	@outputMsg nvarchar(200) out
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		IF EXISTS(SELECT TOP 1 1 FROM VD_Category WHERE CategoryID = @CategoryID)
		BEGIN
			DELETE FROM VD_Category
			WHERE CategoryID = @CategoryID
			
			SET @outputResult = 2
			SET @outputMsg = 'XÓA THÀNH CÔNG'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			
			SET @outputResult = -1
			SET @outputMsg = 'DANH MỤC KHÔNG TỒN TẠI. XÓA KHÔNG THÀNH CÔNG'
			ROLLBACK TRAN
		END
	END TRY
	BEGIN CATCH
		SET @outputResult = -100
		SET @outputMsg = ERROR_MESSAGE()
		ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_DELETE_COURSE]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_DELETE_COURSE]
	@ID BIGINT,
	@outputResult bigint out,
	@outputMsg nvarchar(200) out
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		IF EXISTS(SELECT TOP 1 1 FROM VD_COURSE WHERE ID = @ID)
		BEGIN
			DELETE FROM VD_COURSE
			WHERE ID = @ID
			
			SET @outputResult = 2
			SET @outputMsg = 'XÓA THÀNH CÔNG'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			
			SET @outputResult = -1
			SET @outputMsg = 'KHÔNG TỒN TẠI KHÓA TU'
			ROLLBACK TRAN
		END
	END TRY
	BEGIN CATCH
		SET @outputResult = -100
		SET @outputMsg = ERROR_MESSAGE()
		ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_DELETE_COURSE_TYPE]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_DELETE_COURSE_TYPE]
	@ID BIGINT,
	@outputResult bigint out,
	@outputMsg nvarchar(200) out
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		IF EXISTS(SELECT TOP 1 1 FROM VD_COURSE_TYPE WHERE ID = @ID)
		BEGIN
			DELETE FROM VD_COURSE_TYPE
			WHERE ID = @ID
			
			SET @outputResult = 2
			SET @outputMsg = 'XÓA THÀNH CÔNG'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			
			SET @outputResult = -1
			SET @outputMsg = 'KHÔNG TỒN TẠI LOẠI KHÓA TU'
			ROLLBACK TRAN
		END
	END TRY
	BEGIN CATCH
		SET @outputResult = -100
		SET @outputMsg = ERROR_MESSAGE()
		ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_DELETE_HOCVIEN]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_DELETE_HOCVIEN]
	@ID BIGINT,
	@outputResult bigint out,
	@outputMsg nvarchar(200) out
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		IF EXISTS(SELECT TOP 1 1 FROM VD_HOCVIEN WHERE ID = @ID)
		BEGIN
			DELETE FROM VD_HOCVIEN
			WHERE ID = @ID
			
			SET @outputResult = 2
			SET @outputMsg = 'XÓA THÀNH CÔNG'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			
			SET @outputResult = -1
			SET @outputMsg = 'TU SINH KHÔNG TỒN TẠI. XÓA KHÔNG THÀNH CÔNG'
			ROLLBACK TRAN
		END
	END TRY
	BEGIN CATCH
		SET @outputResult = -100
		SET @outputMsg = ERROR_MESSAGE()
		ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_DELETE_MAINMENU]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_DELETE_MAINMENU]
	@MainMenuID nvarchar(50),
	@outputResult bigint out,
	@outputMsg nvarchar(200) out
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		IF EXISTS(SELECT TOP 1 1 FROM VD_MainMenu WHERE MainMenuID = @MainMenuID)
		BEGIN
			DELETE FROM VD_MainMenu
			WHERE MainMenuID = @MainMenuID
			
			SET @outputResult = 2
			SET @outputMsg = 'XÓA THÀNH CÔNG'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			
			SET @outputResult = -1
			SET @outputMsg = 'KHÔNG TỒN TẠI MENU. XÓA KHÔNG THÀNH CÔNG'
			ROLLBACK TRAN
		END
	END TRY
	BEGIN CATCH
		SET @outputResult = -100
		SET @outputMsg = ERROR_MESSAGE()
		ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_DELETE_POST]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_DELETE_POST]
	@ID BIGINT,
	@outputResult bigint out,
	@outputMsg nvarchar(200) out
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		IF EXISTS(SELECT TOP 1 1 FROM VD_POST WHERE ID = @ID)
		BEGIN
			DELETE FROM VD_POST
			WHERE ID = @ID
			
			SET @outputResult = 2
			SET @outputMsg = 'XÓA THÀNH CÔNG'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			
			SET @outputResult = -1
			SET @outputMsg = 'BÀI VIẾT KHÔNG TỒN TẠI. XÓA KHÔNG THÀNH CÔNG'
			ROLLBACK TRAN
		END
	END TRY
	BEGIN CATCH
		SET @outputResult = -100
		SET @outputMsg = ERROR_MESSAGE()
		ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_DELETE_SUBMENU]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_DELETE_SUBMENU]
	@SubMenuID nvarchar(50),
	@outputResult bigint out,
	@outputMsg nvarchar(200) out
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		IF EXISTS(SELECT TOP 1 1 FROM VD_SubMenu WHERE SubMenuID = @SubMenuID)
		BEGIN
			DELETE FROM VD_SubMenu
			WHERE SubMenuID = @SubMenuID
			
			SET @outputResult = 2
			SET @outputMsg = 'XÓA THÀNH CÔNG'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			
			SET @outputResult = -1
			SET @outputMsg = 'KHÔNG TỒN TẠI SUB MENU. XÓA KHÔNG THÀNH CÔNG'
			ROLLBACK TRAN
		END
	END TRY
	BEGIN CATCH
		SET @outputResult = -100
		SET @outputMsg = ERROR_MESSAGE()
		ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_ABOUT]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GET_DETAILS_ABOUT] 
	@ID BIGINT
AS
BEGIN
	SELECT TOP 1 [ID]
      ,[Name]
      ,[URL]
      ,[IsActive]
      ,[CreatedDate]
  FROM [About]
  WHERE ID = @ID
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_AREAS]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GET_DETAILS_AREAS] 
	@ID BIGINT
AS
BEGIN
	SELECT [ID]
	  ,[Name]
	  ,[Descriptions]
	  ,[Quantity]
	  ,[isActive]
	  ,[zIndex]
	FROM [VD_AREAS]
	WHERE ID = @ID
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_CATEGORY]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GET_DETAILS_CATEGORY] 
	@ID NVARCHAR(50)
AS
BEGIN
	SELECT [ID]
	  ,[CategoryID]
	  ,[CategoryName]
	  ,ISNULL([IsActive],0) AS [IsActive]
	  ,ISNULL([zIndex],0) AS [zIndex]
	  ,ISNULL([IsHomeIndex],0) AS IsHomeIndex
	  ,[MetaKeywords]
      ,[MetaDescription]
      ,[MetaTitle]
	FROM [VD_Category]
	WHERE CategoryID = @ID
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_COURSE]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GET_DETAILS_COURSE] 
	@ID BIGINT
AS
BEGIN
	SELECT A.[ID]
      ,A.[Name]
      ,ISNULL(A.[Descriptions],'') AS [Descriptions]
      ,A.[CourseType]
      ,B.Name AS CourseTypeName
      ,[FromDate]
      ,[ToDate]
      ,A.[IsActive]
      ,A.[zIndex]
    FROM VD_COURSE A
    LEFT JOIN VD_COURSE_TYPE B ON A.CourseType = CAST(B.ID AS INT)
	WHERE A.ID = @ID
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_COURSE_TYPE]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GET_DETAILS_COURSE_TYPE] 
	@ID BIGINT
AS
BEGIN
	SELECT [ID]
      ,[Name]
      ,ISNULL([Descriptions],'') AS [Descriptions]
      ,[isActive]
      ,[zIndex]
    FROM VD_COURSE_TYPE
	WHERE ID = @ID
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_HOCVIEN]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GET_DETAILS_HOCVIEN] 
	@ID BIGINT
AS
BEGIN
	SELECT A.[ID]
	  ,[FullName]
	  ,[CMND]
	  ,[PhapDanh]
	  ,ISNULL([Birthday],'01-01-1900') AS [Birthday]
	  ,ISNULL([Phone1],'0') AS [Phone1]
	  ,ISNULL([Phone2],'0') AS [Phone2]
	  ,ISNULL([Address],'') AS [Address]
	  ,ISNULL(A.[zIndex],0) AS [zIndex]
	  ,[AreasID]
	  ,B.Name AS AreasName
	  ,[CourseID]
	  ,C.Name AS CourseName
	  ,A.[UserTypeID]
	  ,D.UserTypeName
	  ,CreatedDate
	  ,IsApproval
	FROM [VD_HOCVIEN] A
	LEFT JOIN VD_AREAS B ON B.ID = A.AreasID
	LEFT JOIN VD_COURSE C ON C.ID = A.CourseID
	LEFT JOIN VD_USERSTYPE D ON D.UserTypeID = A.UserTypeID
	WHERE A.ID = @ID
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_MAINMENU]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GET_DETAILS_MAINMENU] 
	@ID NVARCHAR(50)
AS
BEGIN
	SELECT [ID]
	  ,[MainMenuID]
	  ,[MainMenuName]
	  ,ISNULL([IsActive],0) AS [IsActive]
	  ,ISNULL([zIndex],0) AS [zIndex]
	  ,[MetaKeywords]
      ,[MetaDescription]
      ,[MetaTitle]
	FROM [VD_MainMenu]
	WHERE MainMenuID = @ID
	
	SELECT A.[ID]
	  ,A.[MainMenuID]
	  ,B.MainMenuName
      ,B.[MetaTitle] AS MetaTitleMainMenu
	  ,[SubMenuID]
	  ,[SubMenuName]
	  ,ISNULL(A.[IsActive],0) AS [IsActive]
	  ,ISNULL(A.[zIndex],0) AS [zIndex]
	  ,A.[MetaKeywords]
      ,A.[MetaDescription]
      ,A.[MetaTitle]
	FROM [VD_SubMenu] A
	LEFT JOIN VD_MainMenu B ON B.MainMenuID = A.MainMenuID
	WHERE A.MainMenuID = @ID
	ORDER BY zIndex ASC
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_POST]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GET_DETAILS_POST] 
	@ID NVARCHAR(50)
AS
BEGIN
	SELECT A.[ID]
	  ,A.[CategoryID]
	  ,B.CategoryName
      ,B.[MetaTitle] AS MetaTitleCategory
      ,[AdminComment]
	  ,A.[MainMenuID]
	  ,C.MainMenuName
      ,C.[MetaTitle] AS MetaTitleMainMenu
	  ,ISNULL(A.[SubMenuID],'') AS [SubMenuID]
	  ,ISNULL(D.SubMenuName,'') AS SubMenuName
      ,D.[MetaTitle] AS MetaTitleSubMenu
	  ,[TitlePost]
	  ,[ContentPost]
	  ,[CreatedBy]
	  ,[CreatedDate]
	  ,ISNULL([ChangeBy],'') AS [ChangeBy]
	  ,ISNULL([ChangeDate],'01-01-1900') AS [ChangeDate]
	  ,ISNULL([IsPublish],0) AS [IsPublish]
	  ,ISNULL([IsSlide],0) AS [IsSlide]
	  ,ISNULL([IsHome],0) AS [IsHome]
	  ,A.[IsActive]
	  ,ISNULL([Comment],'') AS [Comment]
	  ,ISNULL([ImagesDisplay],'') AS [ImagesDisplay]
	  ,A.[ShortDescription]
      ,A.[MetaKeywords]
      ,A.[MetaDescription]
      ,A.[MetaTitle]
      ,[AdminComment]
	FROM [VD_POST] A
	LEFT JOIN VD_Category B ON B.CategoryID = A.CategoryID
	LEFT JOIN VD_MainMenu C ON C.MainMenuID = A.MainMenuID
	LEFT JOIN VD_SubMenu D ON D.SubMenuID = A.SubMenuID
	WHERE A.ID = @ID
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_DETAILS_SUBMENU]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GET_DETAILS_SUBMENU] 
	@MainMenuID NVARCHAR(50),
	@SubMenuID NVARCHAR(50)
AS
BEGIN
	SELECT A.[ID]
	  ,A.[MainMenuID]
	  ,B.[MainMenuName]
	  ,B.MetaTitle AS MetaTitleMainMenu
	  ,A.[SubMenuID]
	  ,A.[SubMenuName]
	  ,ISNULL(A.[IsActive],0) AS [IsActive]
	  ,ISNULL(A.[zIndex],0) AS [zIndex]
      ,A.[MetaKeywords]
      ,A.[MetaDescription]
      ,A.[MetaTitle]
	FROM [VD_SubMenu] A
	LEFT JOIN VD_MainMenu B ON A.MainMenuID = B.MainMenuID
	WHERE A.MainMenuID = @MainMenuID AND SubMenuID = @SubMenuID
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_LIST_ABOUT]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GET_LIST_ABOUT] 
AS
BEGIN
	SELECT TOP 1 [ID]
      ,[Name]
      ,[URL]
      ,[IsActive]
      ,[CreatedDate]
	  ,[ShortDescription]
      ,[MetaKeywords]
      ,[MetaDescription]
      ,[MetaTitle]
  FROM [About]
  ORDER BY CreatedDate DESC
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GET_POST_INDEX_BY_CATEGORY]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GET_POST_INDEX_BY_CATEGORY] 
	@ID NVARCHAR(50)
AS
BEGIN
	SELECT A.[ID]
	  ,A.[CategoryID]
	  ,B.CategoryName
      ,B.[MetaTitle] AS MetaTitleCategory
      ,[AdminComment]
	  ,A.[MainMenuID]
	  ,C.MainMenuName
      ,C.[MetaTitle] AS MetaTitleMainMenu
	  ,ISNULL(A.[SubMenuID],'') AS [SubMenuID]
	  ,ISNULL(D.SubMenuName,'') AS SubMenuName
      ,D.[MetaTitle] AS MetaTitleSubMenu
	  ,[TitlePost]
	  ,[ContentPost]
	  ,[CreatedBy]
	  ,[CreatedDate]
	  ,ISNULL([ChangeBy],'') AS [ChangeBy]
	  ,ISNULL([ChangeDate],'01-01-1900') AS [ChangeDate]
	  ,ISNULL([IsPublish],0) AS [IsPublish]
	  ,ISNULL([IsSlide],0) AS [IsSlide]
	  ,ISNULL([IsHome],0) AS [IsHome]
	  ,A.[IsActive]
	  ,ISNULL([Comment],'') AS [Comment]
	  ,ISNULL([ImagesDisplay],'') AS [ImagesDisplay]
	  ,A.[ShortDescription]
      ,A.[MetaKeywords]
      ,A.[MetaDescription]
      ,A.[MetaTitle]
      ,[AdminComment]
	FROM [VD_POST] A
	LEFT JOIN VD_Category B ON B.CategoryID = A.CategoryID
	LEFT JOIN VD_MainMenu C ON C.MainMenuID = A.MainMenuID
	LEFT JOIN VD_SubMenu D ON D.SubMenuID = A.SubMenuID
	WHERE A.CategoryID = @ID AND A.IsHome = 1
	ORDER BY ChangeDate DESC
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_AREAS]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GETLIST_AREAS] 
AS
BEGIN
	SELECT [ID]
	  ,[Name]
	  ,[Descriptions]
	  ,[Quantity]
	  ,ISNULL([IsActive],0) AS [IsActive]
	  ,ISNULL([zIndex],0) AS [zIndex]
	FROM [VD_AREAS]
	ORDER BY zIndex ASC
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_CATEGORY]    Script Date: 6/21/2017 8:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GETLIST_CATEGORY] 
AS
BEGIN
	SELECT [ID]
	  ,[CategoryID]
	  ,[CategoryName]
	  ,ISNULL([IsActive],0) AS [IsActive]
	  ,ISNULL([zIndex],0) AS [zIndex]
	  ,ISNULL([IsHomeIndex],0) AS IsHomeIndex
	  ,[MetaKeywords]
      ,[MetaDescription]
      ,[MetaTitle]
	FROM [VD_Category]
	ORDER BY zIndex ASC
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_COURSE]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GETLIST_COURSE] 
AS
BEGIN
	SELECT A.[ID]
      ,A.[Name]
      ,ISNULL(A.[Descriptions],'') AS [Descriptions]
      ,A.[CourseType]
      ,B.Name AS CourseTypeName
      ,[FromDate]
      ,[ToDate]
      ,A.[IsActive]
      ,A.[zIndex]
    FROM VD_COURSE A
    LEFT JOIN VD_COURSE_TYPE B ON A.CourseType = CAST(B.ID AS INT)
	ORDER BY zIndex ASC
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_COURSE_TYPE]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GETLIST_COURSE_TYPE] 
AS
BEGIN
	SELECT [ID]
      ,[Name]
      ,ISNULL([Descriptions],'') AS [Descriptions]
      ,[IsActive]
      ,[zIndex]
    FROM VD_COURSE_TYPE
	ORDER BY zIndex ASC
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_HOCVIEN]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GETLIST_HOCVIEN] 

AS
BEGIN
	SELECT A.[ID]
	  ,[FullName]
	  ,[CMND]
	  ,[PhapDanh]
	  ,ISNULL([Birthday],'01-01-1900') AS [Birthday]
	  ,ISNULL([Phone1],'0') AS [Phone1]
	  ,ISNULL([Phone2],'0') AS [Phone2]
	  ,ISNULL([Address],'') AS [Address]
	  ,ISNULL(A.[zIndex],0) AS [zIndex]
	  ,[AreasID]
	  ,B.Name AS AreasName
	  ,[CourseID]
	  ,C.Name AS CourseName
	  ,A.[UserTypeID]
	  ,D.UserTypeName
	  ,CreatedDate
	  ,IsApproval
	FROM [VD_HOCVIEN] A
	LEFT JOIN VD_AREAS B ON B.ID = A.AreasID
	LEFT JOIN VD_COURSE C ON C.ID = A.CourseID
	LEFT JOIN VD_USERSTYPE D ON D.UserTypeID = A.UserTypeID
	ORDER BY CreatedDate DESC
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_MAINMENU]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GETLIST_MAINMENU] 
AS
BEGIN
	SELECT [ID]
	  ,[MainMenuID]
	  ,[MainMenuName]
	  ,ISNULL([IsActive],0) AS [IsActive]
	  ,ISNULL([zIndex],0) AS [zIndex]
	  ,[MetaKeywords]
      ,[MetaDescription]
      ,[MetaTitle]
	FROM [VD_MainMenu]
	ORDER BY zIndex ASC
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_POST]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GETLIST_POST] 
AS
BEGIN
	SELECT A.[ID]
	  ,A.[CategoryID]
	  ,B.CategoryName
      ,B.[MetaTitle] AS MetaTitleCategory
      ,[AdminComment]
	  ,A.[MainMenuID]
	  ,C.MainMenuName
      ,C.[MetaTitle] AS MetaTitleMainMenu
	  ,ISNULL(A.[SubMenuID],'') AS [SubMenuID]
	  ,ISNULL(D.SubMenuName,'') AS SubMenuName
      ,D.[MetaTitle] AS MetaTitleSubMenu
	  ,[TitlePost]
	  ,[ContentPost]
	  ,[CreatedBy]
	  ,[CreatedDate]
	  ,ISNULL([ChangeBy],'') AS [ChangeBy]
	  ,ISNULL([ChangeDate],'01-01-1900') AS [ChangeDate]
	  ,ISNULL([IsPublish],0) AS [IsPublish]
	  ,ISNULL([IsSlide],0) AS [IsSlide]
	  ,ISNULL([IsHome],0) AS [IsHome]
	  ,A.[IsActive]
	  ,ISNULL([Comment],'') AS [Comment]
	  ,ISNULL([ImagesDisplay],'') AS [ImagesDisplay]
	  ,A.[ShortDescription]
      ,A.[MetaKeywords]
      ,A.[MetaDescription]
      ,A.[MetaTitle]
      ,[AdminComment]
	FROM [VD_POST] A
	LEFT JOIN VD_Category B ON B.CategoryID = A.CategoryID
	LEFT JOIN VD_MainMenu C ON C.MainMenuID = A.MainMenuID
	LEFT JOIN VD_SubMenu D ON D.SubMenuID = A.SubMenuID
	ORDER BY CreatedDate DESC
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_POST_BY_CATEGORY]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GETLIST_POST_BY_CATEGORY] 
	@ID nvarchar(50)
AS
BEGIN
	SELECT A.[ID]
	  ,A.[CategoryID]
	  ,B.CategoryName
      ,B.[MetaTitle] AS MetaTitleCategory
      ,[AdminComment]
	  ,A.[MainMenuID]
	  ,C.MainMenuName
      ,C.[MetaTitle] AS MetaTitleMainMenu
	  ,ISNULL(A.[SubMenuID],'') AS [SubMenuID]
	  ,ISNULL(D.SubMenuName,'') AS SubMenuName
      ,D.[MetaTitle] AS MetaTitleSubMenu
	  ,[TitlePost]
	  ,[ContentPost]
	  ,[CreatedBy]
	  ,[CreatedDate]
	  ,ISNULL([ChangeBy],'') AS [ChangeBy]
	  ,ISNULL([ChangeDate],'01-01-1900') AS [ChangeDate]
	  ,ISNULL([IsPublish],0) AS [IsPublish]
	  ,ISNULL([IsSlide],0) AS [IsSlide]
	  ,ISNULL([IsHome],0) AS [IsHome]
	  ,A.[IsActive]
	  ,ISNULL([Comment],'') AS [Comment]
	  ,ISNULL([ImagesDisplay],'') AS [ImagesDisplay]
	  ,A.[ShortDescription]
      ,A.[MetaKeywords]
      ,A.[MetaDescription]
      ,A.[MetaTitle]
      ,[AdminComment]
	FROM [VD_POST] A
	LEFT JOIN VD_Category B ON B.CategoryID = A.CategoryID
	LEFT JOIN VD_MainMenu C ON C.MainMenuID = A.MainMenuID
	LEFT JOIN VD_SubMenu D ON D.SubMenuID = A.SubMenuID
	WHERE A.CategoryID = @ID AND A.IsActive = 1
	ORDER BY ChangeDate DESC
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_POST_BY_CATEGORY_BY_DATE]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GETLIST_POST_BY_CATEGORY_BY_DATE] 
	@fromDate date,
	@toDate date,
	@categoryID nvarchar(50)
AS
BEGIN
	IF(@categoryID IS NULL OR @categoryID = '')
	BEGIN
		SELECT A.[ID]
		  ,A.[CategoryID]
		  ,B.CategoryName
		  ,B.[MetaTitle] AS MetaTitleCategory
		  ,[AdminComment]
		  ,A.[MainMenuID]
		  ,C.MainMenuName
		  ,C.[MetaTitle] AS MetaTitleMainMenu
		  ,ISNULL(A.[SubMenuID],'') AS [SubMenuID]
		  ,ISNULL(D.SubMenuName,'') AS SubMenuName
		  ,D.[MetaTitle] AS MetaTitleSubMenu
		  ,[TitlePost]
		  ,[ContentPost]
		  ,[CreatedBy]
		  ,[CreatedDate]
		  ,ISNULL([ChangeBy],'') AS [ChangeBy]
		  ,ISNULL([ChangeDate],'01-01-1900') AS [ChangeDate]
		  ,ISNULL([IsPublish],0) AS [IsPublish]
		  ,ISNULL([IsSlide],0) AS [IsSlide]
		  ,ISNULL([IsHome],0) AS [IsHome]
		  ,A.[IsActive]
		  ,ISNULL([Comment],'') AS [Comment]
		  ,ISNULL([ImagesDisplay],'') AS [ImagesDisplay]
		  ,A.[ShortDescription]
		  ,A.[MetaKeywords]
		  ,A.[MetaDescription]
		  ,A.[MetaTitle]
		  ,[AdminComment]
		FROM [VD_POST] A
		LEFT JOIN VD_Category B ON B.CategoryID = A.CategoryID
		LEFT JOIN VD_MainMenu C ON C.MainMenuID = A.MainMenuID
		LEFT JOIN VD_SubMenu D ON D.SubMenuID = A.SubMenuID
		WHERE DATEDIFF(DAY,ChangeDate, @fromDate) <= 0 
		AND DATEDIFF(DAY,ChangeDate, @toDate) >= 0
		ORDER BY ChangeDate DESC
	END
	ELSE
	BEGIN
		SELECT A.[ID]
		  ,A.[CategoryID]
		  ,B.CategoryName
		  ,B.[MetaTitle] AS MetaTitleCategory
		  ,[AdminComment]
		  ,A.[MainMenuID]
		  ,C.MainMenuName
		  ,C.[MetaTitle] AS MetaTitleMainMenu
		  ,ISNULL(A.[SubMenuID],'') AS [SubMenuID]
		  ,ISNULL(D.SubMenuName,'') AS SubMenuName
		  ,D.[MetaTitle] AS MetaTitleSubMenu
		  ,[TitlePost]
		  ,[ContentPost]
		  ,[CreatedBy]
		  ,[CreatedDate]
		  ,ISNULL([ChangeBy],'') AS [ChangeBy]
		  ,ISNULL([ChangeDate],'01-01-1900') AS [ChangeDate]
		  ,ISNULL([IsPublish],0) AS [IsPublish]
		  ,ISNULL([IsSlide],0) AS [IsSlide]
		  ,ISNULL([IsHome],0) AS [IsHome]
		  ,A.[IsActive]
		  ,ISNULL([Comment],'') AS [Comment]
		  ,ISNULL([ImagesDisplay],'') AS [ImagesDisplay]
		  ,A.[ShortDescription]
		  ,A.[MetaKeywords]
		  ,A.[MetaDescription]
		  ,A.[MetaTitle]
		  ,[AdminComment]
		FROM [VD_POST] A
		LEFT JOIN VD_Category B ON B.CategoryID = A.CategoryID
		LEFT JOIN VD_MainMenu C ON C.MainMenuID = A.MainMenuID
		LEFT JOIN VD_SubMenu D ON D.SubMenuID = A.SubMenuID
		WHERE A.CategoryID = @categoryID 
		AND DATEDIFF(DAY,ChangeDate, @fromDate) <= 0 
		AND DATEDIFF(DAY,ChangeDate, @toDate) >= 0
		ORDER BY ChangeDate DESC
	END
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_POST_BY_MENU]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GETLIST_POST_BY_MENU] 
	@MainID nvarchar(50),
	@SubID nvarchar(50)
AS
BEGIN
	IF(@SubID IS NULL OR @SubID = '')
	BEGIN
		SELECT A.[ID]
		  ,A.[CategoryID]
		  ,B.CategoryName
		  ,B.[MetaTitle] AS MetaTitleCategory
		  ,[AdminComment]
		  ,A.[MainMenuID]
		  ,C.MainMenuName
		  ,C.[MetaTitle] AS MetaTitleMainMenu
		  ,ISNULL(A.[SubMenuID],'') AS [SubMenuID]
		  ,ISNULL(D.SubMenuName,'') AS SubMenuName
		  ,D.[MetaTitle] AS MetaTitleSubMenu
		  ,[TitlePost]
		  ,[ContentPost]
		  ,[CreatedBy]
		  ,[CreatedDate]
		  ,ISNULL([ChangeBy],'') AS [ChangeBy]
		  ,ISNULL([ChangeDate],'01-01-1900') AS [ChangeDate]
		  ,ISNULL([IsPublish],0) AS [IsPublish]
		  ,ISNULL([IsSlide],0) AS [IsSlide]
		  ,ISNULL([IsHome],0) AS [IsHome]
		  ,A.[IsActive]
		  ,ISNULL([Comment],'') AS [Comment]
		  ,ISNULL([ImagesDisplay],'') AS [ImagesDisplay]
		  ,A.[ShortDescription]
		  ,A.[MetaKeywords]
		  ,A.[MetaDescription]
		  ,A.[MetaTitle]
		  ,[AdminComment]
		FROM [VD_POST] A
		LEFT JOIN VD_Category B ON B.CategoryID = A.CategoryID
		LEFT JOIN VD_MainMenu C ON C.MainMenuID = A.MainMenuID
		LEFT JOIN VD_SubMenu D ON D.SubMenuID = A.SubMenuID
		WHERE A.MainMenuID = @MainID AND A.IsActive = 1
		ORDER BY ChangeDate DESC
	END
	ELSE
	BEGIN
		SELECT A.[ID]
		  ,A.[CategoryID]
		  ,B.CategoryName
		  ,B.[MetaTitle] AS MetaTitleCategory
		  ,[AdminComment]
		  ,A.[MainMenuID]
		  ,C.MainMenuName
		  ,C.[MetaTitle] AS MetaTitleMainMenu
		  ,ISNULL(A.[SubMenuID],'') AS [SubMenuID]
		  ,ISNULL(D.SubMenuName,'') AS SubMenuName
		  ,D.[MetaTitle] AS MetaTitleSubMenu
		  ,[TitlePost]
		  ,[ContentPost]
		  ,[CreatedBy]
		  ,[CreatedDate]
		  ,ISNULL([ChangeBy],'') AS [ChangeBy]
		  ,ISNULL([ChangeDate],'01-01-1900') AS [ChangeDate]
		  ,ISNULL([IsPublish],0) AS [IsPublish]
		  ,ISNULL([IsSlide],0) AS [IsSlide]
		  ,ISNULL([IsHome],0) AS [IsHome]
		  ,A.[IsActive]
		  ,ISNULL([Comment],'') AS [Comment]
		  ,ISNULL([ImagesDisplay],'') AS [ImagesDisplay]
		  ,A.[ShortDescription]
		  ,A.[MetaKeywords]
		  ,A.[MetaDescription]
		  ,A.[MetaTitle]
		  ,[AdminComment]
		FROM [VD_POST] A
		LEFT JOIN VD_Category B ON B.CategoryID = A.CategoryID
		LEFT JOIN VD_MainMenu C ON C.MainMenuID = A.MainMenuID
		LEFT JOIN VD_SubMenu D ON D.SubMenuID = A.SubMenuID
		WHERE A.MainMenuID = @MainID 
		AND A.SubMenuID = @SubID 
		AND A.IsActive = 1
		ORDER BY ChangeDate DESC
	END
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_POSTS_COMMENT]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GETLIST_POSTS_COMMENT] 
	@PostID BIGINT
AS
BEGIN
	SELECT [ID]
      ,[UserName]
      ,[CommentText]
      ,[IsApproved]
      ,[PostID]
      ,[CreatedDate]
	FROM [VD_POST_COMMENT]
	WHERE PostID = @PostID
	ORDER BY CreatedDate DESC
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_GETLIST_SUBMENU]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_GETLIST_SUBMENU] 

AS
BEGIN
	SELECT [ID]
	  ,[MainMenuID]
	  ,[SubMenuID]
	  ,[SubMenuName]
	  ,ISNULL([IsActive],0) AS [IsActive]
	  ,ISNULL([zIndex],0) AS [zIndex]
	  ,[MetaKeywords]
      ,[MetaDescription]
      ,[MetaTitle]
	FROM [VD_SubMenu]
	ORDER BY zIndex
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_HOCVIEN]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
/*
declare @XMLContent xml, @outputMsg nvarchar(200), @outputResult bigint
set @XMLContent = '<root>
<HOCVIEN>
  <ID>0</ID> 
  <FullName>Vo Xuan An</FullName> 
  <CMND>123456</CMND> 
  <PhapDanh>def</PhapDanh> 
  <Birthday>3/8/1996 12:00:00 AM</Birthday> 
  <Phone1>+841689964616</Phone1> 
  <Phone2 /> 
  <Address>Ho Chi Minh City</Address> 
  <zIndex>1</zIndex> 
  <AreasID>1</AreasID> 
  <CourseID>2</CourseID> 
  <UserTypeID>9</UserTypeID> 
  <IsApproval>True</IsApproval> 
  </HOCVIEN>
  </root>'
  
  exec [WEB_VD_INSERT_HOCVIEN] @XMLContent, @outputMsg out, @outputResult out
  print @outputResult
  print @outputMsg

*/
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_INSERT_HOCVIEN] 
	@XMLContent xml,
	@outputMsg nvarchar(200) out,
	@outputResult bigint out
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		SET NOCOUNT ON;
		DECLARE @XML XML, @docHandle INT
		SET @XML = @XMLContent
		
		EXEC sp_xml_preparedocument @docHandle OUTPUT,@XML
		
		DECLARE @ID bigint, @CMND nvarchar(50)
		SELECT @ID = ID, @CMND = CMND
		FROM OPENXML(@docHandle,'/root/HOCVIEN',2)
		WITH(ID bigint, CMND NVARCHAR(50))
		
		IF(@CMND is null or @CMND = '')
		BEGIN
			EXEC sp_xml_removedocument @docHandle
			SET @outputMsg = 'ID && CMND not null !'
			SET @outputResult = -1
			ROLLBACK TRAN			
		END
		ELSE IF exists(SELECT TOP 1 1 FROM VD_HOCVIEN WHERE ID = @ID)
		BEGIN
			
			UPDATE VD_HOCVIEN
			SET [FullName] = B.[FullName]
			  ,[CMND] = B.[CMND]
			  ,[PhapDanh] = B.[PhapDanh]
			  ,[Birthday] = B.[Birthday]
			  ,[Phone1] = B.[Phone1]
			  ,[Phone2] = B.[Phone2]
			  ,[Address] = B.[Address]
			  ,[zIndex] = B.[zIndex]
			  ,[AreasID] = B.[AreasID]
			  ,[CourseID] = B.[CourseID]
			  ,[UserTypeID] = B.[UserTypeID]
			  --,[CreatedDate] = B.[CreatedDate]
			  ,[IsApproval] = B.[IsApproval]
			FROM OPENXML(@docHandle,'/root/HOCVIEN',2)
			WITH([FullName] nvarchar(max)
			  ,[CMND] nvarchar(max)
			  ,[PhapDanh] nvarchar(max)
			  ,[Birthday] date
			  ,[Phone1] nvarchar(50)
			  ,[Phone2] nvarchar(50)
			  ,[Address] nvarchar(max)
			  ,[zIndex] int
			  ,[AreasID] BIT
			  ,[CourseID] BIT
			  ,[UserTypeID] nvarchar(50)
			  --,[CreatedDate] DATETIME
			  ,[IsApproval] BIT
			)B
			WHERE ID = @ID
			
			EXEC sp_xml_removedocument @docHandle
			SET @outputMsg = 'UPDATE SUCCESSFULLY !'
			SET @outputResult = 2
			COMMIT TRAN
		END
		ELSE IF EXISTS(SELECT TOP 1 1 FROM VD_HOCVIEN WHERE CMND = @CMND)
		BEGIN
			EXEC sp_xml_removedocument @docHandle
			SET @outputMsg = 'CMND already used !'
			SET @outputResult = -2
			ROLLBACK TRAN
		END
		ELSE
		BEGIN
			INSERT INTO VD_HOCVIEN
				(
				  [FullName]
				  ,[CMND]
				  ,[PhapDanh]
				  ,[Birthday]
				  ,[Phone1]
				  ,[Phone2]
				  ,[Address]
				  ,[zIndex]
				  ,[AreasID]
				  ,[CourseID]
				  ,[UserTypeID]
				  ,[CreatedDate]
				  ,[IsApproval]
				)
			SELECT [FullName]
				  ,[CMND]
				  ,[PhapDanh]
				  ,[Birthday]
				  ,[Phone1]
				  ,[Phone2]
				  ,[Address]
				  ,[zIndex]
				  ,[AreasID]
				  ,[CourseID]
				  ,[UserTypeID]
				  ,GETDATE()
				  ,1
			FROM OPENXML(@docHandle,'/root/HOCVIEN',2)
			WITH([FullName] nvarchar(max)
			  ,[CMND] nvarchar(max)
			  ,[PhapDanh] nvarchar(max)
			  ,[Birthday] date
			  ,[Phone1] nvarchar(50)
			  ,[Phone2] nvarchar(50)
			  ,[Address] nvarchar(max)
			  ,[zIndex] int
			  ,[AreasID] BIT
			  ,[CourseID] BIT
			  ,[UserTypeID] nvarchar(50)
			  --,[CreatedDate] DATETIME
			  ,[IsApproval] BIT
			)
			EXEC sp_xml_removedocument @docHandle
			SET @outputMsg = 'Save Successfuly !'
			SET @outputResult = 1
			COMMIT TRAN
		END
	END TRY
	BEGIN CATCH
		SELECT @outputMsg = ERROR_MESSAGE(),@outputResult = -100
		EXEC sp_xml_removedocument @docHandle
		ROLLBACK TRAN
	END CATCH
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_POST]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,15-02-2016,>
-- Description:	<Description,,>
/*
	declare @outputMsg nvarchar(200), @outputResult bigint
  
	exec [WEB_VD_INSERT_HOCVIEN] 1, 'Cate_08022016050246','08022016040312','08022016041955','TEST 2','SDADASDS','Admin','Admin',true,false,true,true,'dsdsds', @outputMsg out, @outputResult out
	print @outputResult
	print @outputMsg

*/
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_INSERT_POST] 
	@ID BIGINT,
	@CategoryID NVARCHAR(50),
	@MainMenuID NVARCHAR(50),
	@SubMenuID NVARCHAR(50),
	@TitlePost NTEXT,
	@ContentPost NTEXT,
	@CreatedBy NVARCHAR(500),
	@ChangeBy NVARCHAR(500),
	@IsPublish BIT,
	@IsSlide BIT,
	@IsHome BIT,
	@IsActive BIT,
	@Comment NTEXT,
	@ImagesDisplay NVARCHAR(500),
	@outputMsg nvarchar(200) out,
	@outputResult bigint out
AS
BEGIN

	BEGIN TRAN
	BEGIN TRY
		IF EXISTS(SELECT TOP 1 1 FROM VD_POST WHERE ID = @ID)
		BEGIN
			UPDATE VD_POST
			SET CategoryID = @CategoryID,
				MainMenuID = @MainMenuID,
				SubMenuID = @SubMenuID,
				TitlePost = @TitlePost,
				ContentPost = @ContentPost,
				ChangeBy = @ChangeBy,
				ChangeDate = GETDATE(),
				IsPublish = @IsPublish,
				IsSlide = @IsSlide,
				IsHome = @IsHome,
				IsActive = 1,
				Comment = @Comment,
				ImagesDisplay = @ImagesDisplay
			WHERE ID = @ID
			
			SET @outputResult = 2
			SET @outputMsg = 'UPDATE SUCCESSFULLY'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			INSERT INTO VD_POST(CategoryID, MainMenuID, SubMenuID, TitlePost, ContentPost, CreatedBy, CreatedDate, ChangeBy, ChangeDate, IsPublish, IsSlide, IsHome, IsActive, Comment, ImagesDisplay)
			VALUES(@CategoryID, @MainMenuID, @SubMenuID, @TitlePost, @ContentPost, @CreatedBy, GETDATE(), '', GETDATE(), @IsPublish, @IsSlide, @IsHome, 1, @Comment, @ImagesDisplay)
			
			SET @outputResult = 1
			SET @outputMsg = 'INSERT SUCCESSFULL'
			COMMIT TRAN
		END
	END TRY
	BEGIN CATCH
		SET @outputMsg = ERROR_MESSAGE()
		SET @outputResult = -100
		ROLLBACK TRAN
	END CATCH
END


GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_UPDATE_ABOUT]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_INSERT_UPDATE_ABOUT]
	@ID BIGINT,
	@Name NVARCHAR(MAX),
	@URL NVARCHAR(MAX),
	@isActive BIT,
	@outputResult bigint out,
	@outputMsg nvarchar(200) out
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		IF EXISTS(SELECT TOP 1 1 FROM About WHERE ID = @ID)
		BEGIN
			UPDATE About
			SET Name = @Name,
				URL = @URL,
				isActive = @isActive,
				CreatedDate = GETDATE()
			WHERE ID = @ID
			
			SET @outputResult = 2
			SET @outputMsg = 'UPDATE SUCCESSFULL'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			INSERT INTO About
			(
				Name,
				URL,
				isActive,
				CreatedDate
			)
			VALUES
			(
				@Name,
				@URL,
				@isActive,
				GETDATE()
			)
			SET @outputResult = 1
			SET @outputMsg = 'INSERT SUCCESSFULL'
			COMMIT TRAN
		END
	END TRY
	BEGIN CATCH
		SET @outputResult = -100
		SET @outputMsg = ERROR_MESSAGE()
		ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_UPDATE_AREAS]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_INSERT_UPDATE_AREAS]
	@ID BIGINT,
	@Name NVARCHAR(MAX),
	@Descriptions NVARCHAR(MAX),
	@Quantity INT,
	@isActive BIT,
	@zIndex INT,
	@outputResult bigint out,
	@outputMsg nvarchar(200) out
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		IF EXISTS(SELECT TOP 1 1 FROM VD_AREAS WHERE ID = @ID)
		BEGIN
			UPDATE VD_AREAS
			SET Name = @Name,
				Descriptions = @Descriptions,
				Quantity = @Quantity,
				isActive = @isActive,
				zIndex = @zIndex
			WHERE ID = @ID
			
			SET @outputResult = 2
			SET @outputMsg = 'UPDATE SUCCESSFULL'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			INSERT INTO VD_AREAS
			(
				Name,
				Descriptions,
				Quantity,
				isActive,
				zIndex
			)
			VALUES
			(
				@Name,
				@Descriptions,
				@Quantity,
				@isActive,
				@zIndex
			)
			SET @outputResult = 1
			SET @outputMsg = 'INSERT SUCCESSFULL'
			COMMIT TRAN
		END
	END TRY
	BEGIN CATCH
		SET @outputResult = -100
		SET @outputMsg = ERROR_MESSAGE()
		ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_UPDATE_CATEGORY]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_INSERT_UPDATE_CATEGORY]
	@CategoryID NVARCHAR(50),
	@CategoryName NVARCHAR(MAX),
	@isActive BIT,
	@zIndex INT,
	@IsHomeIndex BIT,
	@outputResult bigint out,
	@outputMsg nvarchar(200) out
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		IF EXISTS(SELECT TOP 1 1 FROM VD_Category WHERE CategoryID = @CategoryID)
		BEGIN
			UPDATE VD_Category
			SET CategoryName = @CategoryName,
				IsActive = @IsActive,
				zIndex = @zIndex,
				IsHomeIndex = @IsHomeIndex
			WHERE CategoryID = @CategoryID
			
			SET @outputResult = 2
			SET @outputMsg = 'UPDATE SUCCESSFULL'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			INSERT INTO VD_Category
			(
				CategoryID,
				CategoryName,
				isActive,
				zIndex,
				IsHomeIndex
			)
			VALUES
			(
				@CategoryID,
				@CategoryName,
				@isActive,
				@zIndex,
				@IsHomeIndex
			)
			SET @outputResult = 1
			SET @outputMsg = 'INSERT SUCCESSFULL'
			COMMIT TRAN
		END
	END TRY
	BEGIN CATCH
		SET @outputResult = -100
		SET @outputMsg = ERROR_MESSAGE()
		ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_UPDATE_COURSE]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_INSERT_UPDATE_COURSE]
	@ID BIGINT,
	@Name NVARCHAR(MAX),
	@Descriptions NVARCHAR(MAX),
	@CourseType int,
	@FromDate datetime,
	@ToDate datetime,
	@IsActive BIT,
	@zIndex INT,
	@outputResult bigint out,
	@outputMsg nvarchar(200) out
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		IF EXISTS(SELECT TOP 1 1 FROM VD_COURSE WHERE ID = @ID)
		BEGIN
			UPDATE VD_COURSE
			SET Name = @Name,
				Descriptions = @Descriptions,
				CourseType = @CourseType,
				FromDate = @FromDate,
				ToDate = @ToDate,
				IsActive = @IsActive,
				zIndex = @zIndex
			WHERE ID = @ID
			
			SET @outputResult = 2
			SET @outputMsg = 'UPDATE SUCCESSFULL'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			INSERT INTO VD_COURSE
			(
				Name,
				Descriptions,
				CourseType,
				FromDate,
				ToDate,
				IsActive,
				zIndex
			)
			VALUES
			(
				@Name,
				@Descriptions,
				@CourseType,
				@FromDate,
				@ToDate,
				@IsActive,
				@zIndex
			)
			SET @outputResult = 1
			SET @outputMsg = 'INSERT SUCCESSFULL'
			COMMIT TRAN
		END
	END TRY
	BEGIN CATCH
		SET @outputResult = -100
		SET @outputMsg = ERROR_MESSAGE()
		ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_UPDATE_COURSE_TYPE]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_INSERT_UPDATE_COURSE_TYPE]
	@ID BIGINT,
	@Name NVARCHAR(MAX),
	@Descriptions NVARCHAR(MAX),
	@IsActive BIT,
	@zIndex INT,
	@outputResult bigint out,
	@outputMsg nvarchar(200) out
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		IF EXISTS(SELECT TOP 1 1 FROM VD_COURSE_TYPE WHERE ID = @ID)
		BEGIN
			UPDATE VD_COURSE_TYPE
			SET Name = @Name,
				Descriptions = @Descriptions,
				IsActive = @IsActive,
				zIndex = @zIndex
			WHERE ID = @ID
			
			SET @outputResult = 2
			SET @outputMsg = 'UPDATE SUCCESSFULL'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			INSERT INTO VD_COURSE_TYPE
			(
				Name,
				Descriptions,
				IsActive,
				zIndex
			)
			VALUES
			(
				@Name,
				@Descriptions,
				@IsActive,
				@zIndex
			)
			SET @outputResult = 1
			SET @outputMsg = 'INSERT SUCCESSFULL'
			COMMIT TRAN
		END
	END TRY
	BEGIN CATCH
		SET @outputResult = -100
		SET @outputMsg = ERROR_MESSAGE()
		ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_UPDATE_MAINMENU]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_INSERT_UPDATE_MAINMENU]
	@MainMenuID NVARCHAR(50),
	@MainMenuName NVARCHAR(MAX),
	@isActive BIT,
	@zIndex INT,
	@outputResult bigint out,
	@outputMsg nvarchar(200) out
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		IF EXISTS(SELECT TOP 1 1 FROM VD_MainMenu WHERE MainMenuID = @MainMenuID)
		BEGIN
			UPDATE VD_MainMenu
			SET MainMenuName = @MainMenuName,
				IsActive = @IsActive,
				zIndex = @zIndex
			WHERE MainMenuID = @MainMenuID
			
			SET @outputResult = 2
			SET @outputMsg = 'UPDATE SUCCESSFULL'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			INSERT INTO VD_MainMenu
			(
				MainMenuID,
				MainMenuName,
				isActive,
				zIndex
			)
			VALUES
			(
				@MainMenuID,
				@MainMenuName,
				@isActive,
				@zIndex
			)
			SET @outputResult = 1
			SET @outputMsg = 'INSERT SUCCESSFULL'
			COMMIT TRAN
		END
	END TRY
	BEGIN CATCH
		SET @outputResult = -100
		SET @outputMsg = ERROR_MESSAGE()
		ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_UPDATE_SUBMENU]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_INSERT_UPDATE_SUBMENU]
	@MainMenuID NVARCHAR(50),
	@SubMenuID NVARCHAR(50),
	@SubMenuName NVARCHAR(MAX),
	@isActive BIT,
	@zIndex INT,
	@outputResult bigint out,
	@outputMsg nvarchar(200) out
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		IF EXISTS(SELECT TOP 1 1 FROM VD_SubMenu WHERE SubMenuID = @SubMenuID)
		BEGIN
			UPDATE VD_SubMenu
			SET MainMenuID = @MainMenuID,
				SubMenuName = @SubMenuName,
				IsActive = @IsActive,
				zIndex = @zIndex
			WHERE SubMenuID = @SubMenuID
			
			SET @outputResult = 2
			SET @outputMsg = 'UPDATE SUCCESSFULL'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			INSERT INTO VD_SubMenu
			(
				MainMenuID,
				SubMenuID,
				SubMenuName,
				isActive,
				zIndex
			)
			VALUES
			(
				@MainMenuID,
				@SubMenuID,
				@SubMenuName,
				@isActive,
				@zIndex
			)
			SET @outputResult = 1
			SET @outputMsg = 'INSERT SUCCESSFULL'
			COMMIT TRAN
		END
	END TRY
	BEGIN CATCH
		SET @outputResult = -100
		SET @outputMsg = ERROR_MESSAGE()
		ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_INSERT_UPDATE_USERTYPE]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_INSERT_UPDATE_USERTYPE]
	@UserTypeID NVARCHAR(50),
	@UserTypeName NVARCHAR(MAX),
	@isActive BIT,
	@zIndex INT,
	@outputResult bigint out,
	@outputMsg nvarchar(200) out
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		IF EXISTS(SELECT TOP 1 1 FROM VD_USERSTYPE WHERE UserTypeID = @UserTypeID)
		BEGIN
			UPDATE VD_USERSTYPE
			SET UserTypeName = @UserTypeName,
				IsActive = @IsActive,
				zIndex = @zIndex
			WHERE UserTypeID = @UserTypeID
			
			SET @outputResult = 2
			SET @outputMsg = 'UPDATE SUCCESSFULL'
			COMMIT TRAN
		END
		ELSE
		BEGIN
			INSERT INTO VD_USERSTYPE
			(
				UserTypeName,
				isActive,
				zIndex
			)
			VALUES
			(
				@UserTypeName,
				@isActive,
				@zIndex
			)
			SET @outputResult = 1
			SET @outputMsg = 'INSERT SUCCESSFULL'
			COMMIT TRAN
		END
	END TRY
	BEGIN CATCH
		SET @outputResult = -100
		SET @outputMsg = ERROR_MESSAGE()
		ROLLBACK TRAN
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[WEB_VD_LOGIN]    Script Date: 6/21/2017 8:22:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[WEB_VD_LOGIN]
	@UserName nvarchar(50),
	@Password nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT A.ID,
		UserName,
		[Password],
		ISNULL(A.UserTypeID,'') AS UserTypeID,
		ISNULL(B.UserTypeName,'') AS UserTypeName,
		CreatedDate
	FROM VD_USERS A
	LEFT JOIN VD_USERSTYPE B ON A.UserTypeID = B.UserTypeID
	WHERE UserName = @UserName 
	AND [Password] = @Password
	AND A.IsActive = 1
	
END

GO
